<launch>
    
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="turtle_joy" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.12" />
    </node>

    <!-- Axes -->
    <param name="axis_linear" value="1" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="scale_linear" value="2" type="double"/>
    <param name="scale_angular" value="2" type="double"/>
    <param name="enable_button" value="1" type="int"/>
    
    
    <!-- <node name="joystick_teleop" pkg="teleop_twist_joy" type="teleop_node" >
        <remap from="/cmd_vel" to="/my_gen3/base_controller/cmd_vel" />
    </node> -->

    <node name="mobile_base_control" pkg="kortex_mobile_robot" type="haptic_control.py">
    </node>

</launch>